# User to create and install the application as
# This is required, and for secure hardened setup should be set to something different than
# the initial user created for the server, i.e. something different than "ubuntu" or "admin"
APP_USERNAME=""

# Log file will collect all commands and command output executed by install scripts
LOG_FILE="/var/log/apex-prime-node-install.log"

# Designated ssh port
# This is required, and for secure hardened setup should be set to something different than
# the default ssh port 22
SSH_PORT=""

# Designated node port
# This is required
NODE_PORT="6000"

# Optional swap configuration settings
# Leave empty to skip swap creation
# SWAP_SIZE value is in number of 1k (1024 byte) blocks
# so to create a 8GB swap set SWAP_SIZE to 8000000
# example values:
# SWAP_SIZE="16000000"
# SWAP_FILE="/swapfile"
SWAP_SIZE=""
SWAP_FILE=""

# Apex Prime network selection. Options are afpm (mainnet) or afpmtestnet (testnet)
NETWORK="afpmtestnet"
